# See http://help.github.com/ignore-files/ for more about ignoring files

# compiled output
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# https://docs.npmjs.com/misc/developers#keeping-files-out-of-your-package

#tests
test
coverage
.nyc_output

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*

#editor settings
.idea
.editorconfig

#source files
src

#typescript
tsconfig.json

# node
node_modules

# Other items we don't include in the package.
e2e
.angular-cli.json
.npmignore
karma.conf.js
protractor.conf.js
tslint.json

# git files
.gitkeep